<h1>MONGODB - EXERCISE</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/mongotest/insert" method="post">
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
<section class="get">
    <h3>Get Data</h3>
    <a href="/mongotest/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>ID: {{ this._id }}</div>
                <div>First Name: {{ this.firstName }}</div>
                <div>Last Name: {{ this.lastName }}</div>
                <div>Email: {{ this.email }}</div>
                <div>Password Hash: {{ this.password }}</div>
                <div>Shirt Size: {{ this.shirtSize }}</div>
                <div>Security Question: {{ this.secQ }}</div>
                <div>Security Answer: {{ this.secQA }}</div>
            </article>
        {{/each}}
    </div>
</section>
<section class="update">
    <h3>Update Data</h3>
    <form action="/mongotest/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="email">Content</label>
            <input type="text" id="email" name="email">
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>
</section>
<section class="delete">
    <h3>Delete Data</h3>
    <form action="/mongotest/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>